[submodule "software"]
	path = software
	url = https://github.com/samdejong86/Arria-V-ADC-Ethernet-software.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/samdejong86/Arria-V-ADC-Ethernet-scripts.git
